<div class="text-center mt-4">
  <h1><%= @user.username.capitalize %>'s profile</h1>

  <%= gravatar_for @user, size: 200 %>
  
  <div class='text-center mt-3'>
    <%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-outline-info' %>
  </div>




  <% if @user.articles.any? %>
    <h3 class='mt-3'>Articles</h3>

    <%= render 'articles/article' %>
  <% else %>
    <h3 class='mt-3'>No articles</h3>
  <% end %>
  
</div>