<h1>This is the About page</h1>
<nav class="nav">
  <div class='nav-link'><%= link_to 'Article List', articles_path, class: 'btn btn-info btn-sm' %></div>
  <div class='nav-link'><%= link_to 'Home page', root_path, class: 'btn btn-info btn-sm' %></div>    
</nav>