@import 'bootstrap/dist/css/bootstrap';

html,
body 
{
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}
h1
{
  font-weight: bold;
}
.navbar
{
  background-color: #21618C !important; 
}  
.navbar-brand 
{
  font-size: 1.5rem; 
}
.nav-link
{
  color: #FFF !important;
}
#logo
{
  float: left;
  font-size: 1.5em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
hr 
{
  border: 1px solid #17A589;
}
#page-content 
{
  flex: 1 0 auto;
  background-color: #D5DBDB;
}
#sticky-footer 
{
  flex-shrink: none;
}
#home-container 
{
  margin-top: 25px;
}
.jumbotron 
{
  background-image: asset-url('typing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}